* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*height: 100%;*/
    background-color: lime;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(62, 136, 248);
    /*height: 10vh;*/
}

header .search #myForm {
    display: flex;
    align-items: center;
    padding: 20px 0;
    /*background-color: red;*/
    position: relative;
}

.search input[type=text] {
    padding: 10px 0 10px 35px;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    font-size: 25px;
}

.search #myForm button {
    border: none;
    background: none;
}

.search #myForm i.fa-magnifying-glass {
    position: absolute;
    left: 10px;
}

.search i.fa-circle-arrow-right {
    font-size: 20px;
    color: white;
}

.search i.fa-circle-arrow-right:hover {
    cursor: pointer;
}

.location-weather {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    /*height: 60vh;*/
}

.location-weather .location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 105, 243);
    padding: 20px;
}

.location-weather .location .city {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.location-weather .location .city i {
    margin-right: 15px;
}

.location-weather .location .date-time {
    font-size: 25px;
}

.location-weather .current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.location-weather .current-weather .temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px 0;
}

.location-weather .current-weather .temp p:first-child {
    font-size: 30px;
    margin-bottom: 20px;
}

.location-weather .current-weather .temp p:nth-child(2) {
    font-size: 80px;
}

.location-weather .current-weather .metrics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    padding: 20px;
    margin-bottom: 40px;
}

.location-weather .current-weather .metrics div {
    display: flex;
    background-color: red;
    padding: 5px;
    font-size: 20px;
    border-radius: 15px;
}

.location-weather .current-weather .metrics div .text {
    display: flex;
    flex-direction: column;
}

.location-weather .current-weather .metrics div .text p:first-child {
    font-size: 30px;
}

.location-weather .current-weather .metrics div .text p:last-child {
    font-size: 25px;
    margin-top: 10px;
}

.location-weather .current-weather .metrics div:nth-child(2) {
    margin: 0 15px;
}

.location-weather .current-weather .metrics div img{
    height: 64px;
    width: 64px;
}

.location-weather .current-weather .metrics .windspeed img{
    color: rgb(149, 180, 248);
}

.location-weather .current-weather .todays-weather {
    width: 100%;
    background-color: cyan;
    padding: 15px;
    display: flex;
    overflow: auto;
    height: 450px;
}

.location-weather .current-weather .todays-weather .hour-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    height: 400px;
    width: 300px;
    border: none;
    border-radius: 15px;
    background-color: rgb(192, 170, 170);
    margin: 0 15px;
}

.location-weather .current-weather .todays-weather .hour-forecast .hour{
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid;
}

.location-weather .current-weather .todays-weather .hour-forecast .condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid;
}

.location-weather .current-weather .todays-weather .hour-forecast .condition p {
    font-size: 25px;
    margin-bottom: 30px;
}

.location-weather .current-weather .todays-weather .hour-forecast .temp-rain {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.location-weather .current-weather .todays-weather .hour-forecast div p {
    font-size: 30px;
}

.location-weather .current-weather .todays-weather .hour-forecast div:first-child {
    margin-bottom: 5px;
}

.forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: blueviolet;
    padding: 20px;
}


.forecast .week-forecast {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 850px));
    gap: 50px;
    background-color: aqua;
    width: 100%;
    padding: 20px 0;
}

.forecast .week-forecast .weekday{
    /*height: 150px;*/
    background-color: rgb(161, 157, 157);
    border: none;
    border-radius: 25px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr;
}

.forecast .week-forecast .weekday .day {
    grid-column: 1 / -1;
    grid-row: span 1;
    border-bottom: 1px solid;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 30px;
}

.forecast .week-forecast .weekday .conditions {
    grid-column: span 1;
    grid-row: 2 / -1;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
}

.forecast .week-forecast .weekday .conditions p {
    font-size: 20px;
}

.forecast .week-forecast .weekday .conditions>img {
    margin-top: auto;
    margin-bottom: auto;
}

.forecast .week-forecast .weekday .details {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.forecast .week-forecast .weekday .details .maxmin-temp {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.forecast .week-forecast .weekday .details .maxmin-temp>p {
    font-size: 20px;
    text-align: center;
}

.forecast .week-forecast .weekday .details .maxmin-temp div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    min-width: 100px;
    padding: 0 10px;
    font-size: 25px;
}

.forecast .week-forecast .weekday .details .maxmin-temp .max {
    margin: 10px 0;
}

.forecast .week-forecast .weekday .details .wind {
    grid-column: span 1;
    border-left: 1px solid;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.forecast .week-forecast .weekday .details .wind>p {
    font-size: 20px;
}

.forecast .week-forecast .weekday .details .wind .wind-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    font-size: 25px;
}

.forecast .week-forecast .weekday .details .wind .wind-div img {
    margin-right: 10px;
}

.forecast .week-forecast .weekday .details .rain {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.forecast .week-forecast .weekday .details .rain>p {
    font-size: 20px;
}

.forecast .week-forecast .weekday .details .rain .rain-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    font-size: 25px;
}

.forecast .week-forecast .weekday .details .rain .rain-div>img {
    margin-right: 10px;
}